{% extends 'base.html.twig' %}

{% block body %}
  <h1>
    User
  </h1>

  <table class="table">
    <tbody>
      <tr>
        <th>
          Prénom
        </th>
        <td>
          {{ user.firstName }}
        </td>
      </tr>
      <tr>
        <th>
          Nom
        </th>
        <td>
          {{ user.lastName }}
        </td>
      </tr>
      <tr>
        <th>
          Email
        </th>
        <td>
          {{ user.Email }}
        </td>
      </tr>
      <tr>
        <th>
          Date de naissance
        </th>
        <td>
          {{ user.birthdate ? user.birthdate|date('Y-m-d') : '' }}
        </td>
      </tr>
      <tr>
        <th>
          Activité inscrite
        </th>
        <td>
          {{ user.activity ? user.activity: '' }}
        </td>
      </tr>
    </tbody>
  </table>

  <a href="{{ path('user_index') }}">back to list</a>

  <a href="{{
    path(
      'user_edit',
      {
        id: user.id
      }
    )
    }}">
    edit
  </a>

  {{ include('user/_delete_form.html.twig') }}
{% endblock %}
